{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Pays</th>
                <th>Nationalite</th>
                <th>Naissance</th>
                <th>LieuNaissance</th>
                <th>Mail</th>
                <th>JobCategorie</th>
                <th>Experience</th>
                <th>Description</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.adresse }}</td>
                <td>{{ candidat.pays }}</td>
                <td>{{ candidat.nationalite }}</td>
                <td>{{ candidat.naissance ? candidat.naissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidat.lieuNaissance }}</td>
                <td>{{ candidat.mail }}</td>
                <td>{{ candidat.jobCategorie }}</td>
                <td>{{ candidat.experience }}</td>
                <td>{{ candidat.description }}</td>
                <td>{{ candidat.genre }}</td>
                <td>
                    <a href="{{ path('app_candidat_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidat_new') }}">Create new</a>
{% endblock %}
